<section class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="block text-center">
                    <h2>You are not allowed to access this page</h2>
                    <p>Please, click the button below to be redirected to the home page.</p>
                    <hr />
                    <p>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-main mt-20">Home Page</a>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
